@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

body {

    min-height: 2200px;

}

// font-family: 'Montserrat', sans-serif;

// Default Button: background is #000, text is #fff
// Hover Button: background is transparent, text is #000, border is 2px #000
// Background colors:  Grey (#f0f0f0), Beige (#ede1cb), Pink (#ecd1c8)


.prime_btn {

    background-color: #000000;
    color: #ffffff;
}

.prime_btn:hover {

    background-color: transparent;
    color: #000000;
    border: 2px solid #000000;
}

// background styles below

.grey_bg {

    background-color: #f0f0f0;

}

.beige_bg {

    background-color: #ede1cb;
    
}

.pink_bg {

    background-color: #ecd1c8;
    
}

.bold_text {

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    
}

.md_text {

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    
}

.light_text {

    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    
}


// content styles below 


.pool_side {

    background-size: cover;
    background: url('../img/Hero_poolside.jpg') center / cover no-repeat;
    height: 30rem;
    width: 1005;
}